* {
  box-sizing: border-box;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.navbar {
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar--logo {
  margin: 22px 0 22px 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-bottom: 49px;
}

.banner--img {
  margin: auto;
}

.banner--header {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  margin-top: 32px;
  margin-left: 36px;
}


.banner--text {
  margin-top: 16px;
  margin-left: 36px;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}

.cards {
  margin: auto;
  display: grid;
  grid-template-columns: 265px 265px 265px;
  gap: 32px;
  justify-content: center;
  margin-bottom: 30px;
}

.card--image {
  width: 265px;
}

.card--stats {
  margin-top: 9px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
}

.card--star {
  margin-right: 5px;
}

.card--title {
  margin: 8px 0;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  line-height: 110%;
  color: #222222;
}

.card--price {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 110%;
  color: #222222;
}

.card--badge {
  position: absolute;
  margin: 6px 0 0 6px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  text-align: center;
  color: #222222;
  background-color: white;
  border-radius: 2px;
  padding: 5px 6px;
}
